[core]
  ; Don't trust file modes
  filemode = false
  autocrlf = input
  eol = lf

[user]
  name = Jamie Hall
  email = kojiru@gmail.com

[push]
  default = current

[alias]
  co = checkout
  ci = commit
  rb = rebase
  st = status

[color]
  status = auto
  branch = auto
  ui = auto
